body {
  background: #000;
}
.view-main {
  background-color:white;
  -webkit-background-size: cover;
  background-size: cover;
  -webkit-transform: translate3d(0, 0, 0) scale(1);
  -moz-transform: translate3d(0, 0, 0) scale(1);
  -ms-transform: translate3d(0, 0, 0) scale(1);
  -o-transform: translate3d(0, 0, 0) scale(1);
  transform: translate3d(0, 0, 0) scale(1);
  -webkit-transition-duration: 400ms;
  -moz-transition-duration: 400ms;
  -ms-transition-duration: 400ms;
  -o-transition-duration: 400ms;
  transition-duration: 400ms;
  color:black;
}

html.ios .page {
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}
html.ios .page-content {
  margin-bottom: 1px;
}
.view-main .navbar {
  background: #cc0442;
  color: #fff;
}
.view-main .navbar:after {
  display: none;
}
i.icon-plus {
  color: #fff;
}
.todo-items-list {
  margin: 0;
  color: black;
  font-weight: 300;
}
.todo-items-list ul {
  background: none;
}
.todo-items-list ul:after,
.todo-items-list ul:before {
  display: none;
}
.todo-items-list .item-title {
  font-size: 18px;
}
.todo-items-list .swipeout-content {
  background: none;
}
.todo-items-list .item-inner {
  padding-top: 18px;
  padding-bottom: 16px;
}
.todo-items-list .item-inner:after {
  background: rgba(255, 255, 255, 0.2);
}
.todo-items-list .label-checkbox.active-state {
  background: rgba(255, 255, 255, 0.2);
}
.todo-items-list .item-content {
  border-bottom:1px solid gray;
  border-left: 5px solid;
}

@media all and (max-width: 629px) and (max-height: 629px) {
  body.with-popup .statusbar-overlay {
    z-index: 11000;
  }
}
.statusbar-overlay {
  background: #cc0442;
}
